@import "tailwindcss";

html,
body {
  direction: rtl;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
}

.font-varela {
  font-family: "Varela Round", sans-serif;
}
